button {
    background: #2E8CE3;
    padding: 30px 30px;
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border: solid 1px #73C8F0;
    cursor: pointer;
}

body {
    overflow-x: hidden;
    margin: 0;
}

@media (min-width: 1px) and (max-width: 400px) {
    body {
        width: 400px;
    }
}